<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Homepage</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<h2>Hello from front end</h2>
<h2>{{ data['mobile'] }}</h2>
<h2>Base dir: {{ base_dir }}</h2>
</body>
</html>
